.col-sign {
  margin: auto;
  width: 350px;
  height: 500px;
  background: #190523;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #ffffff33;
  /* background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover; */
}

.signupBtn,
label {
  font-family: "Nunito", sans-serif;
}

.loginlabel {
  padding-top: 20px;
}

#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.col-sign label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.signup label {
  margin-top: 30px;
  margin-bottom: 40px;
}

.col-sign input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #000;
}

.col-sign .signupBtn {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bolder;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;

  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2em;
}

.col-sign .signupBtn:hover {
  background: #6d44b8;
}

.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-160px);
  transition: 0.8s ease-in-out;
}

.login label {
  color: #573b8a;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}

#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~ .signup label {
  transform: scale(0.6);
}

.signupBtn p {
  margin: 5px;
}

[id*="popup-"] {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 180px;
  background-color: #000;
  text-align: center;
  border-radius: 20px;
}

[id*="popup-"] a {
  font-size: 20px;
  background-color: #6d44b8;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}
