* {
  /* border: 1px solid white; */
  margin: 0;
  padding: 0;
  color: rgb(228, 228, 228);
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}


/* TAGS GENERALES */
h1,
h2,
h4,
h5 {
  margin: 0 50px 50px 50px;
  font-size: 50px;
  color: #7f245d;
  filter: brightness(150%);
  text-shadow: rgba(255, 255, 255, 0.329) 0 0 40px;
  font-family: "Play", sans-serif;
}

body {
  display: grid;
  background-color: #190523;
  min-height: 100vh;
  margin: 0;
  grid-template-rows: auto 1fr auto;
}

.mainHeader {
  padding-right: 10px;
}

main {
  margin: 0 10px 0 10px;
}

h1,
h2,
h3 {
  font-family: "Play", sans-serif;
}

/* IDENTIFICADOR NIVEL */
#game-id {
  display: none;
}

/* HEADER */
.mainHeader {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #2a1037, #3a0741);
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.mainHeader .linksNav {
  display: flex;
  align-items: center;
  justify-content: left;
  width: fit-content;
  margin-left: 10px;
  flex-wrap: wrap;
}

.mainHeader a:not(.nolink) {
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  transition: 300ms;
  font-weight: bolder;
}

.lastlink:hover {
  background-color: #190523;
  filter: brightness(120%);
}

.mainHeader a:not(.nolink, .lastlink):hover {
  background-color: #190523;
  filter: brightness(120%);
  padding-right: 80px;
}

.navRight {
  display: flex;
}

.logoHeader {
  transition: 300ms;
  width: 150px;
  margin-right: 20px;
  padding-top: 5px;
}

.logoHeader:hover {
  transform: scale(105%);
}

#verPerfilLink,
#logOutButton {
  display: none;
}

/* SECTIONS Y ARTICLES WEB GENERAL */
.col-center {
  width: 60%;
  margin: auto;
  height: fit-content;
}

.col-center article {
  width: auto;
  height: fit-content !important;
  border-radius: 20px;
  background-color: #35353580;
  padding: 20px;
}

.col-center article:hover {
  background-color: #353535b4;
}

.infoSection article {
  display: flex;
  margin-bottom: 30px;
  height: 30vh;
  justify-content: space-between;
}

.infoSection article img {
  width: 50%;
}

h1 {
  margin-bottom: 30px;
}

.infoSection img {
  border-radius: 20px;
}

.infoSection article h3 {
  font-size: 50px;
}

/* HOME ARTICLE */
.doubleArticle article {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.doubleArticle article > div {
  display: flex;
  justify-content: space-between;
}

.doubleArticle article > div:last-child {
  border-top: 1px solid rgba(255, 255, 255, 0.185);
  padding-top: 15px;
  margin-top: 15px;
  flex-direction: row-reverse;
}

.doubleArticle img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.doubleArticle h2 {
  transition: 300ms;
}

.doubleArticle a:hover h2 {
  transform: scale(120%);
}

/* FOOTER */
.mainFooter {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #3a0741, #2a1037);
  align-items: center;
  padding: 0 10% 0 10%;
}

.mainFooter a {
  color: #d89bc2;
}

.mainFooter a:hover {
  color: aqua;
}

.mainFooter img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 5px;
  filter: contrast(0);
}

.mainFooter img:hover {
  transform: scale(110%);
}

/* SCROLLBAR PERSONALIZADA */
::-webkit-scrollbar {
  background-color: #0d0214;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #2a1037;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.548);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #411555;
}

@media only screen and (max-width: 900px) {
  [class*="col-"] {
    width: 90%;
  }

  .infoSection article {
    flex-wrap: wrap;
  }

  .infoSection article img {
    width: 100%;
  }

  .doubleArticle article div {
    flex-direction: column !important;
  }
}
