#table-ranking {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: rgba(255, 255, 255, 0.068) 0 10px 0;
}

#table-ranking th {
  border-radius: 20px;
}

#table-ranking th,
#table-ranking td {
  padding: 10px;
  text-align: center;
  border: 1px rgba(255, 255, 255, 0.089) solid;
  border-radius: 5px;
  background-color: #684a7634;
}

#table-ranking thead {
  background-color: #7e57c2;
  color: white;
  position: sticky;
  top: 0;
}

#table-ranking .country img {
  width: 30px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 5px #7e57c2;
}

#table-ranking .score {
  color: #9a75da;
  font-weight: bold;
  font-size: 1.2em;
}

#table-ranking .position {
  background-color: #3d2fb6;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  width: 40px;
  height: 40px;
}

#table-ranking .name {
  font-size: 1.2em;
}

main div {
  margin: auto;
  width: 50%;
  max-height: 660px;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  #table-ranking table {
    font-size: 0.8em;
  }
  #table-ranking .position {
    width: 30px;
    height: 30px;
    font-size: 1em;
  }
  #table-ranking .name {
    font-size: 1em;
  }
}
